/.idea
*.iml
**/target
argument_ndjson/*
argument_ndjson
raw_data/*
**/index
**/.settings
**/.project
**/.classpath
**/premiseindex
**/conclusionindex
**/testindex
/Docker/docker-compose.debug.yml
/out/
